openapi: 3.2.0
info:
  title: Plansource Admin Security API
  description: An integration API for Plansource data for administration functions
  contact:
    name: Plansource API team
    email: api-team@plansource.com
  license:
    name: B) 2017 Plansource.  All rights reserved.
  version: 2.0.0
servers:
- url: https://api.plansource.com/admin/v2
security:
- clientSecretJwt:
  - admin_api_v2
- authString: []
  signature: []
tags:
- name: Security
  description: Security Functions
paths:
  /user_sessions:
    delete:
      tags:
      - Security
      description: Invalidates sessions for the given user, forcing the user to re-authenticate
      parameters:
      - name: user_identifier
        in: query
        description: Attribute used to identify the user during single sign-on
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: Used to determine the type of user that user_identifier represents
        required: true
        schema:
          type: string
          enum:
          - subscriber
          - admin
      responses:
        '200':
          description: The user's sessions were invalidated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '400':
          description: The request is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        '401':
          description: The request is unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        '404':
          description: The user could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        '500':
          description: An internal InternalServerError has occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
components:
  schemas:
    NoLinks500Error:
      title: Error
      required:
      - error_code
      - http_status
      - message
      type: object
      properties:
        status:
          type: string
        errors:
          type: array
          items: {}
        http_status:
          type: integer
        message:
          type: string
        details:
          type: string
        error_code:
          type: string
        data:
          type: array
          items: {}
    Success:
      title: Success
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - success
      example:
        status: success
    404Error:
      title: Error
      type: object
      properties:
        status:
          type: string
        errors:
          type: array
          items: {}
        http_status:
          type: integer
        message:
          type: string
        details:
          type: string
        error_code:
          type: string
    400Error:
      title: Error
      type: object
      properties:
        status:
          type: string
        errors:
          type: array
          items: {}
        http_status:
          type: integer
        message:
          type: string
        details:
          type: string
        error_code:
          type: string
        data:
          type: array
          items: {}
    401Error:
      title: Error
      type: object
      properties:
        status:
          type: string
        errors:
          type: array
          items: {}
        http_status:
          type: integer
        message:
          type: string
        details:
          type: string
        error_code:
          type: string
        data:
          type: array
          items: {}
  securitySchemes:
    clientSecretJwt:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.plansource.com/oauth/v2/token
          scopes:
            admin_api_v2: Access to all endpoints
    authString:
      type: apiKey
      name: AuthenticationString
      in: header
    signature:
      type: apiKey
      name: Signature
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
