openapi: 3.2.0
info:
  title: Plansource Admin Coverage API
  description: An integration API for Plansource data for administration functions
  contact:
    name: Plansource API team
    email: api-team@plansource.com
  license:
    name: B) 2017 Plansource.  All rights reserved.
  version: 2.0.0
servers:
- url: https://api.plansource.com/admin/v2
security:
- clientSecretJwt:
  - admin_api_v2
- authString: []
  signature: []
tags:
- name: Coverage
  description: Coverages, coverage lines, and dependent coverages.
paths:
  /coverage:
    post:
      tags:
      - Coverage
      description: Create coverage
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCoverageModel'
        required: true
      responses:
        '200':
          description: Create coverage response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverag' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/meta:
    get:
      tags:
      - Coverage
      description: Retrieve meta data for coverage.
      responses:
        '200':
          description: List of meta data for coverage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageMetaModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      termination_reasons:
                      - id: 7
                        lookup_code: divorce
                        name: Divorce (COBRA)
                      - id: 8
                        lookup_code: overage_child
                        name: Child becomes ineligible (COBRA)
                      - id: 21
                        lookup_code: dependent_death
                        name: Dependent Death (Non-COBRA)
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/{coverage_id}:
    get:
      tags:
      - Coverage
      description: Retrieve individual coverage data.
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage.
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      responses:
        '200':
          description: Individual coverage data response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 21028866
                      org_benefit_id: 4066306
                      coverage_level_id: 139
                      termination_reason_id: 4
                      original_effective_date: 2018/05/29
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      termination_date: 2018/05/28
                      org_plan_id: 6954498
                      subscriber_id: 8854530
                      subscriber_premium: '0.0'
                      org_premium: '0.0'
                      volume: '0.0'
                      org_fsa_amount: '0.0'
                      subscriber_fsa_amount: '0.0'
                      increments: 0
                      billing_premium: '0.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '0.0'
                      req_increments: '0.0'
                      req_subscriber_premium: '0.0'
                      req_org_premium: '0.0'
                      req_billing_premium: '0.0'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      gi_volume: '0.0'
                      gi_increments: '0.0'
                      waiting_for_eoi: false
                      req_imputed_income: '0.0'
                      dp_sub_imputed_income: '0.0'
                      dp_org_imputed_income: '0.0'
                      req_dp_sub_imputed_income: '0.0'
                      req_dp_org_imputed_income: '0.0'
                      election_effective_date: 2018/01/04
                      subscriber_election_amount: '0.0'
                      subscriber_pretax_premium: '0.0'
                      subscriber_posttax_premium: '0.0'
                      signature_date: 2018/05/29
                      req_org_plan_id: 6954498
                      req_coverage_level_id: 139
                      req_dependent_ids: []
                      req_subscriber_election_amount: '0.0'
                      req_subscriber_fsa_amount: '0.0'
                      req_org_fsa_amount: '0.0'
                      gi_dependent_ids: []
                      gi_subscriber_election_amount: '0.0'
                      waiting_for_doc_requests: false
                      bookkeeping_values:
                        cost_org_base_amount: 0
                        cost_org_match_amount: 1162
                        org_annual_base_amount: 0
                        org_annual_match_amount: 1162
                      org_benefit_name: Health Savings Account
                      benefit_lookup_code: hsa
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      coverage_type_name: Employee
                      benefit_class: contribution
                      beneficiary_required: Not Applicable
                      beneficiary_optional_admin: false
                      org_plan_name: Health Savings Account
                      first_name: Eli
                      last_name: Test
                      req_org_plan_name: Health Savings Account
                      req_coverage_level_name: Employee Only
                      survey_data:
                        coverage_id: 21028866
                        survey_benefit_name: Tobacco Survey
                        org_benefit_id: 4066306
                        question_response_data:
                          plan_id: 846850
                          question_text: Do you currently use tobacco products?
                          subscriber_ssn: 111222444
                          question_response:
                            response_text: 'Yes'
                            value: 'Yes'
                          time_answered: 05/29/201816:03:27
                          question_targeted_at: Subscriber
                          carrier_question_type: Actively At Work (Employee)
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverage' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Coverage
      description: Update an individual coverage
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage to fetch.
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageModel'
        required: true
      responses:
        '200':
          description: Update coverage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverage' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/subscriber/{subscriber_id}:
    get:
      tags:
      - Coverage
      description: Retrieve coverage data for an individual subscriber.
      parameters:
      - name: subscriber_id
        in: path
        description: The ID of the subscriber.
        required: true
        schema:
          type: integer
          format: int64
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      responses:
        '200':
          description: Coverage data for an individual subscriber.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 21028866
                      org_benefit_id: 4066306
                      coverage_level_id: 139
                      termination_reason_id: 4
                      original_effective_date: 2018/05/29
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      termination_date: 2018/05/28
                      org_plan_id: 6954498
                      subscriber_id: 8854530
                      subscriber_premium: '0.0'
                      org_premium: '0.0'
                      volume: '0.0'
                      org_fsa_amount: '0.0'
                      subscriber_fsa_amount: '0.0'
                      increments: 0
                      billing_premium: '0.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '0.0'
                      req_increments: '0.0'
                      req_subscriber_premium: '0.0'
                      req_org_premium: '0.0'
                      req_billing_premium: '0.0'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      gi_volume: '0.0'
                      gi_increments: '0.0'
                      waiting_for_eoi: false
                      req_imputed_income: '0.0'
                      dp_sub_imputed_income: '0.0'
                      dp_org_imputed_income: '0.0'
                      req_dp_sub_imputed_income: '0.0'
                      req_dp_org_imputed_income: '0.0'
                      election_effective_date: 2018/01/04
                      subscriber_election_amount: '0.0'
                      subscriber_pretax_premium: '0.0'
                      subscriber_posttax_premium: '0.0'
                      signature_date: 2018/05/29
                      req_org_plan_id: 6954498
                      req_coverage_level_id: 139
                      req_dependent_ids: []
                      req_subscriber_election_amount: '0.0'
                      req_subscriber_fsa_amount: '0.0'
                      req_org_fsa_amount: '0.0'
                      gi_dependent_ids: []
                      gi_subscriber_election_amount: '0.0'
                      waiting_for_doc_requests: false
                      bookkeeping_values:
                        cost_org_base_amount: 0
                        cost_org_match_amount: 1162
                        org_annual_base_amount: 0
                        org_annual_match_amount: 1162
                      org_benefit_name: Health Savings Account
                      benefit_lookup_code: hsa
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      coverage_type_name: Employee
                      benefit_class: contribution
                      beneficiary_required: Not Applicable
                      beneficiary_optional_admin: false
                      org_plan_name: Health Savings Account
                      first_name: Eli
                      last_name: Test
                      req_org_plan_name: Health Savings Account
                      req_coverage_level_name: Employee Only
                      survey_data:
                        coverage_id: 21028866
                        survey_benefit_name: Tobacco Survey
                        org_benefit_id: 4066306
                        question_response_data:
                          plan_id: 846850
                          question_text: Do you currently use tobacco products?
                          subscriber_ssn: 111222444
                          question_response:
                            response_text: 'Yes'
                            value: 'Yes'
                          time_answered: 05/29/201816:03:27
                          question_targeted_at: Subscriber
                          carrier_question_type: Actively At Work (Employee)
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/subscriber/{subscriber_id}/terminate:
    put:
      tags:
      - Coverage
      description: Terminate all coverages for a subscriber.
      parameters:
      - name: subscriber_id
        in: path
        description: The ID of the subscriber.
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      requestBody:
        description: The information used to terminate all coverages.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_8'
        required: true
      responses:
        '200':
          description: Terminate all coverages response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageWithPlanStructureModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data: []
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/{coverage_id}/terminate:
    put:
      tags:
      - Coverage
      description: Terminate an individual coverage.
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage.
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date.
        required: false
        schema:
          type: string
          format: date
      requestBody:
        description: The information used to terminate a coverage.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_9'
        required: true
      responses:
        '200':
          description: Teminate a coverage response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateResponseOK'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      valid_count: 0
                      failed_count: 1
                      failed_rows:
                        errors: termination_date missing, termination_reason_id missing
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/{coverage_id}/line:
    post:
      tags:
      - Coverage
      description: Create a stacked coverage line.
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCoverageLineModel'
        required: true
      responses:
        '200':
          description: Create coverage line response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLinesResponseOK'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      valid_count: 0
                      failed_count: 1
                      failed_rows:
                        errors: org_benefit_id missing, benefit_lookup_code missing, org_plan_id missing, coverage_level_id missing
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverage/line' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/line/{coverage_line_id}:
    get:
      tags:
      - Coverage
      description: Retrieve an individual stacked coverage line.
      parameters:
      - name: coverage_line_id
        in: path
        description: The ID of the coverage line.
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      responses:
        '200':
          description: Individual stacked coverage line response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLineModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 3586
                      coverage_id: 20551170
                      original_effective_date: 2018/01/04
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      subscriber_premium: '3.82'
                      org_premium: '0.0'
                      volume: '125000.0'
                      increments: 5
                      billing_premium: '7.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '150000.0'
                      req_increments: '6.0'
                      req_subscriber_premium: '4.58'
                      req_org_premium: '0.0'
                      req_billing_premium: '8.4'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      org_benefit_id: 8619
                      org_benefit_name: Voluntary Employee Life
                      benefit_lookup_code: subscriber_life
                      coverage_level_id: 310
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      org_plan_id: 22423
                      org_plan_name: Voluntary Employee Life
                      subscriber_id: 8854530
                      first_name: Tommy
                      last_name: Test
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Coverage
      description: Update an individual stacked coverage line
      parameters:
      - name: coverage_line_id
        in: path
        description: The ID of the coverage line
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageLineModel'
        required: true
      responses:
        '200':
          description: Update coverage line response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLinesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/{coverage_id}/lines:
    get:
      tags:
      - Coverage
      description: Retrieve stacked coverage lines for an individual coverage.
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage.
        required: true
        schema:
          type: integer
          format: int64
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      responses:
        '200':
          description: Individual stacked coverage lines response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLineModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 3586
                      coverage_id: 20551170
                      original_effective_date: 2018/01/04
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      subscriber_premium: '3.82'
                      org_premium: '0.0'
                      volume: '125000.0'
                      increments: 5
                      billing_premium: '7.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '150000.0'
                      req_increments: '6.0'
                      req_subscriber_premium: '4.58'
                      req_org_premium: '0.0'
                      req_billing_premium: '8.4'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      org_benefit_id: 8619
                      org_benefit_name: Voluntary Employee Life
                      benefit_lookup_code: subscriber_life
                      coverage_level_id: 310
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      org_plan_id: 22423
                      org_plan_name: Voluntary Employee Life
                      subscriber_id: 8854530
                      first_name: Tommy
                      last_name: Test
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/line/{coverage_line_id}/terminate:
    put:
      tags:
      - Coverage
      description: Terminate an individual stacked coverage line
      parameters:
      - name: coverage_line_id
        in: path
        description: The ID of the coverage line
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        $ref: '#/components/requestBodies/TerminateModel'
      responses:
        '200':
          description: Teminate coverage line response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/dependent/{dependent_coverage_id}:
    get:
      tags:
      - Coverage
      description: Retrieve individual dependent coverage data.
      parameters:
      - name: dependent_coverage_id
        in: path
        description: The ID of the dependent coverage.
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      responses:
        '200':
          description: Individual dependent coverage data response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentCoverageModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 12186626
                      coverage_id: 25270273
                      dependent_id: 1869825
                      original_effective_date: '2017-01-01T00:00:00.000Z'
                      change_effective_date: '2017-01-01T00:00:00.000Z'
                      organization_id: 333
                      pcp_code1: code1
                      pcp_name1: name1
                      org_carrier_id: 3
                      election_effective_date: '2017-01-01T00:00:00.000Z'
                      carrier_effective_date: '2017-01-01T00:00:00.000Z'
                      demographic_effective_date: '2017-01-01T00:00:00.000Z'
                      first_name: Mary
                      last_name: Smith
                      org_benefit_id: 974849
                      org_benefit_name: Basic Dependent Life
                      benefit_lookup_code: basic_dependent_life
                      coverage_level_id: 12
                      coverage_level_name: Enrolled
                      org_plan_id: 2109441
                      org_plan_name: Basic Dependent Life
                      plan_year_starts_on: '2017-01-01T00:00:00.000Z'
                      plan_year_ends_on: '2017-12-31T00:00:00.000Z'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Coverage
      description: Update an individual dependent coverage
      parameters:
      - name: dependent_coverage_id
        in: path
        description: The ID of the dependent coverage
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependentCoverageModel'
        required: true
      responses:
        '200':
          description: Update dependent coverage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentCoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/{coverage_id}/dependent:
    post:
      tags:
      - Coverage
      description: Create dependent coverage
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDependentCoverageModel'
        required: true
      responses:
        '200':
          description: Create dependent coverage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentCoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverage/dependent' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/{coverage_id}/dependents:
    get:
      tags:
      - Coverage
      description: Retrieve dependent coverage data for an individual coverage.
      parameters:
      - name: coverage_id
        in: path
        description: The ID of the coverage.
        required: true
        schema:
          type: integer
          format: int64
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      responses:
        '200':
          description: Dependent coverage data per individual coverage response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentCoverageModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 12186626
                      coverage_id: 25270273
                      dependent_id: 1869825
                      original_effective_date: '2017-01-01T00:00:00.000Z'
                      change_effective_date: '2017-01-01T00:00:00.000Z'
                      organization_id: 333
                      pcp_code1: code1
                      pcp_name1: name1
                      org_carrier_id: 3
                      election_effective_date: '2017-01-01T00:00:00.000Z'
                      carrier_effective_date: '2017-01-01T00:00:00.000Z'
                      demographic_effective_date: '2017-01-01T00:00:00.000Z'
                      first_name: Mary
                      last_name: Smith
                      org_benefit_id: 974849
                      org_benefit_name: Basic Dependent Life
                      benefit_lookup_code: basic_dependent_life
                      coverage_level_id: 12
                      coverage_level_name: Enrolled
                      org_plan_id: 2109441
                      org_plan_name: Basic Dependent Life
                      plan_year_starts_on: '2017-01-01T00:00:00.000Z'
                      plan_year_ends_on: '2017-12-31T00:00:00.000Z'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverage/dependent/{dependent_coverage_id}/terminate:
    put:
      tags:
      - Coverage
      description: Terminate an individual dependent coverage
      parameters:
      - name: dependent_coverage_id
        in: path
        description: The ID of the dependent coverage
        required: true
        schema:
          type: integer
          format: int64
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        $ref: '#/components/requestBodies/TerminateModel'
      responses:
        '200':
          description: Teminate dependent coverage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Invalid coverage
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverages:
    get:
      tags:
      - Coverage
      description: Retrieve all coverages.
      parameters:
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: page
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Override the maximum of records returned in a response.
        required: false
        schema:
          type: integer
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: All coverages retrieval response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 21028866
                      org_benefit_id: 4066306
                      coverage_level_id: 139
                      termination_reason_id: 4
                      original_effective_date: 2018/05/29
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      termination_date: 2018/05/28
                      org_plan_id: 6954498
                      subscriber_id: 8854530
                      subscriber_premium: '0.0'
                      org_premium: '0.0'
                      volume: '0.0'
                      org_fsa_amount: '0.0'
                      subscriber_fsa_amount: '0.0'
                      increments: 0
                      billing_premium: '0.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '0.0'
                      req_increments: '0.0'
                      req_subscriber_premium: '0.0'
                      req_org_premium: '0.0'
                      req_billing_premium: '0.0'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      gi_volume: '0.0'
                      gi_increments: '0.0'
                      waiting_for_eoi: false
                      req_imputed_income: '0.0'
                      dp_sub_imputed_income: '0.0'
                      dp_org_imputed_income: '0.0'
                      req_dp_sub_imputed_income: '0.0'
                      req_dp_org_imputed_income: '0.0'
                      election_effective_date: 2018/01/04
                      subscriber_election_amount: '0.0'
                      subscriber_pretax_premium: '0.0'
                      subscriber_posttax_premium: '0.0'
                      signature_date: 2018/05/29
                      req_org_plan_id: 6954498
                      req_coverage_level_id: 139
                      req_dependent_ids: []
                      req_subscriber_election_amount: '0.0'
                      req_subscriber_fsa_amount: '0.0'
                      req_org_fsa_amount: '0.0'
                      gi_dependent_ids: []
                      gi_subscriber_election_amount: '0.0'
                      waiting_for_doc_requests: false
                      bookkeeping_values:
                        cost_org_base_amount: 0
                        cost_org_match_amount: 1162
                        org_annual_base_amount: 0
                        org_annual_match_amount: 1162
                      org_benefit_name: Health Savings Account
                      benefit_lookup_code: hsa
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      coverage_type_name: Employee
                      benefit_class: contribution
                      beneficiary_required: Not Applicable
                      beneficiary_optional_admin: false
                      org_plan_name: Health Savings Account
                      first_name: Eli
                      last_name: Test
                      req_org_plan_name: Health Savings Account
                      req_coverage_level_name: Employee Only
                      survey_data:
                        coverage_id: 21028866
                        survey_benefit_name: Tobacco Survey
                        org_benefit_id: 4066306
                        question_response_data:
                          plan_id: 846850
                          question_text: Do you currently use tobacco products?
                          subscriber_ssn: 111222444
                          question_response:
                            response_text: 'Yes'
                            value: 'Yes'
                          time_answered: 05/29/201816:03:27
                          question_targeted_at: Subscriber
                          carrier_question_type: Actively At Work (Employee)
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverage' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Coverage
      description: Update coverages
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CoverageModel'
        required: true
      responses:
        '200':
          description: Update coverages response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverags' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    post:
      tags:
      - Coverage
      description: Create coverages
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCoverageModel'
        required: true
      responses:
        '200':
          description: Create coverages response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverags' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverages/terminate:
    put:
      tags:
      - Coverage
      description: Terminate coverages
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        $ref: '#/components/requestBodies/TerminateModelArray'
      responses:
        '200':
          description: Teminate coverage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverages/terminat' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverages/lines:
    get:
      tags:
      - Coverage
      description: Retrieve all stacked coverage lines.
      parameters:
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: page
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Override the maximum of records returned in a response.
        required: false
        schema:
          type: integer
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: All stacked coverage lines response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLineModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 3586
                      coverage_id: 20551170
                      original_effective_date: 2018/01/04
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      subscriber_premium: '3.82'
                      org_premium: '0.0'
                      volume: '125000.0'
                      increments: 5
                      billing_premium: '7.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '150000.0'
                      req_increments: '6.0'
                      req_subscriber_premium: '4.58'
                      req_org_premium: '0.0'
                      req_billing_premium: '8.4'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      org_benefit_id: 8619
                      org_benefit_name: Voluntary Employee Life
                      benefit_lookup_code: subscriber_life
                      coverage_level_id: 310
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      org_plan_id: 22423
                      org_plan_name: Voluntary Employee Life
                      subscriber_id: 8854530
                      first_name: Tommy
                      last_name: Test
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
[...]
