openapi: 3.2.0
info:
  title: Plansource Admin Collections API
  description: An integration API for Plansource data for administration functions
  contact:
    name: Plansource API team
    email: api-team@plansource.com
  license:
    name: B) 2017 Plansource.  All rights reserved.
  version: 2.0.0
servers:
- url: https://api.plansource.com/admin/v2
security:
- clientSecretJwt:
  - admin_api_v2
- authString: []
  signature: []
tags:
- name: Collections
  description: Collections of objects.
paths:
  /payroll_coverages_subscribers:
    get:
      tags:
      - Collections
      description: Retrieve payroll coverages for all subscribers in the organization.
      parameters:
      - name: start_date
        in: query
        description: Start date of a date range of payroll changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: true
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of payroll changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: true
        schema:
          type: string
          format: date
      - name: page
        in: query
        description: Set to page number. Large responses are parsed into a maximum of 500 records or the per_page value for large responses.
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: Override of the maximum of 500 records returned in a response.
        required: false
        schema:
          type: integer
          default: 500
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: boolean
          default: false
      - name: current
        in: query
        description: Return only the subscriber's current coverage records.
        required: false
        schema:
          type: boolean
      - name: previous
        in: query
        description: Return only the subscriber's coverage records that are immediately prior to the current record.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Payroll coverages for all subscribers in the organization response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollCoveragesSubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      total: 6,
                      per_page: 1,
                      links:
                      - href: /admin/payroll_coverages_subscribers?start_date=2019-01-01&end_date=2019-12-31&page=1&per_page=1
                        rel: first
                      - href: /admin/payroll_coverages_subscribers?start_date=2019-01-01&end_date=2019-12-31&page=1&per_page=1
                        rel: current
                      - href: /admin/payroll_coverages_subscribers?start_date=2019-01-01&end_date=2019-12-31&page=2&per_page=1
                        rel: next
                      - href: /admin/payroll_coverages_subscribers?start_date=2019-01-01&end_date=2019-12-31&page=6&per_page=1
                        rel: last
                      link:
                        href: /admin/subscriber/8854530?start_date=2019-01-01&end_date=2019-12-31
                        rel: self
                      id: 8854530
                      subscriber_code: ''
                      first_name: Ted
                      middle_name: M
                      last_name: Mosby
                      ssn: 123-12-1234
                      subscriber_pay_frequency: Biweekly (26 per year)
                      subscriber_total_paydays: 26
                      organization_id: 652
                      org_plan_year_starts: 2018/01/04
                      org_plan_year_ends: 2019/01/03
                      benefit_name: Medical
                      benefit_lookup_code: medical
                      plan_name: Decline
                      coverage_level: Decline
                      subscriber_premium: '0.0'
                      org_premium: '0.0'
                      imputed_income: '0.0'
                      subscriber_pretax_premium: '0.0'
                      subscriber_posttax_premium: '0.0'
                      tax_treatment: posttax
                      volume: '0.0'
                      org_fsa_amount: '0.0'
                      subscriber_fsa_amount: '0.0'
                      original_effective_date: '2018-01-04T00:00:00.000Z'
                      change_effective_date: '2018-01-04T00:00:00.000Z'
                      dp_sub_imputed_income: '0.0'
                      dp_org_imputed_income: '0.0'
                      current: CA
                      updated_at: '2018-05-29T19:59:55.000Z'
                      created_at: '2018-05-29T15:31:25.000Z'
                      termination_date: 2018/01/03
                      termination_reason: Subscriber voluntarily waived coverage
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: No Start Date (params[:start_date] in the request.
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'payroll_coverages_subcribers' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /subscribers:
    get:
      tags:
      - Collections
      description: Retrieve data for all subscribers.
      parameters:
      - name: is_custom_id
        in: query
        description: Set to true if the {id} in the path is customer generated.
        required: false
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        description: Set to page number. Large responses are parsed into a maximum of 500 subscribers or the per_page value for large responses of subscribers.
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: Override of the maximum of 500 subscribers returned in a response.
        required: false
        schema:
          type: integer
          default: 500
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Multiple subscriber retrieval response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      links:
                        href: /admin/subscriber/12186626
                        rel: self
                      id: 12186626
                      first_name: John
                      last_name: Test
                      middle_name: M
                      address_1: 1234TestSt.
                      address_2: ''
                      city: Orlando
                      state: FL
                      zip_code: '32801'
                      country: United States
                      home_phone: '4071231234'
                      work_phone: '4071231234'
                      cell_phone: '4071231234'
                      gender: M
                      hire_date: 2006/06/13
                      birthdate: 1990/03/11
                      union_code: HR
                      pay_rate: '40.0'
                      org_payroll_id: '563'
                      employee_number: '2'
                      public_id: 988618
                      marital_status: M
                      division: A
                      location: FLORIDA
                      org_class: HOURLY
                      business_title: MR
                      original_hire_date: 2006/06/13
                      current_salary_effective_on: 2006/06/13
                      current_salary: '70000.0'
                      subscriber_status_id: 15
                      status_changed_at: '2006/06/1300: 00: 00-0400'
                      status_starts_on: 2006/06/13
                      benefits_start_date: 2006/06/13
                      test_employee: false
                      is_voluntary_termination: false
                      hide_from_payroll: false
                      ssn_exported: false
                      shareholder: false
                      owner: false
                      exclude_from_batch_import: false
                      user_name: jtest_7
                      attempted_logon_count: 0
                      benefit_salaries:
                      - org_plan_year_id: 18791472
                        starts_on: '2019-01-01T00:00:00.000Z'
                        ends_on: '2019-12-31T00:00:00.000Z'
                        benefit_salary: '70000.0'
                        benefit_salary2: '75000.0'
                      - org_plan_year_id: 18791492
                        starts_on: '2020-01-01T00:00:00.000Z'
                        ends_on: '2020-12-31T00:00:00.000Z'
                        benefit_salary: '80000.0'
                        benefit_salary2: '85000.0'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'subscribe' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Collections
      description: Update data for all subscribers.
      parameters:
      - name: is_custom_id
        in: query
        description: Set to true if the {id} is customer generated.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        description: The subscribers to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_5'
        required: true
      responses:
        '200':
          description: Subscribers update response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      links:
                        href: /admin/subscriber/12186626
                        rel: self
                      id: 12186626
                      first_name: John
                      last_name: Test
                      middle_name: M
                      address_1: 1234TestSt.
                      address_2: ''
                      city: Orlando
                      state: FL
                      zip_code: '32801'
                      country: United States
                      home_phone: '4071231234'
                      work_phone: '4071231234'
                      cell_phone: '4071231234'
                      gender: M
                      hire_date: 2006/06/13
                      birthdate: 1990/03/11
                      union_code: HR
                      pay_rate: '40.0'
                      org_payroll_id: '563'
                      employee_number: '2'
                      public_id: 988618
                      marital_status: M
                      division: A
                      location: FLORIDA
                      org_class: HOURLY
                      business_title: MR
                      original_hire_date: 2006/06/13
                      current_salary_effective_on: 2006/06/13
                      current_salary: '70000.0'
                      subscriber_status_id: 15
                      status_changed_at: '2006/06/1300: 00: 00-0400'
                      status_starts_on: 2006/06/13
                      benefits_start_date: 2006/06/13
                      test_employee: false
                      is_voluntary_termination: false
                      hide_from_payroll: false
                      ssn_exported: false
                      shareholder: false
                      owner: false
                      exclude_from_batch_import: false
                      user_name: jtest_7
                      attempted_logon_count: 0
                      benefit_salaries:
                      - org_plan_year_id: 18791472
                        starts_on: '2019-01-01T00:00:00.000Z'
                        ends_on: '2019-12-31T00:00:00.000Z'
                        benefit_salary: '70000.0'
                        benefit_salary2: '75000.0'
                      - org_plan_year_id: 18791492
                        starts_on: '2020-01-01T00:00:00.000Z'
                        ends_on: '2020-12-31T00:00:00.000Z'
                        benefit_salary: '80000.0'
                        benefit_salary2: '85000.0'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: 'undefined method `+'' for #<NoMethodError: undefined method `gsub'' for nil:NilClass>'
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'subscriber' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    post:
      tags:
      - Collections
      description: Create subscriber resources.
      parameters:
      - name: is_custom_id
        in: query
        description: Set to true if the {id} in the path is customer generated.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        $ref: '#/components/requestBodies/Body'
      responses:
        '200':
          description: Multiple subscriber create response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      links:
                        href: /admin/subscriber/12186626
                        rel: self
                      id: 12186626
                      first_name: John
                      last_name: Test
                      middle_name: M
                      address_1: 1234TestSt.
                      address_2: ''
                      city: Orlando
                      state: FL
                      zip_code: '32801'
                      country: United States
                      home_phone: '4071231234'
                      work_phone: '4071231234'
                      cell_phone: '4071231234'
                      gender: M
                      hire_date: 2006/06/13
                      birthdate: 1990/03/11
                      union_code: HR
                      pay_rate: '40.0'
                      org_payroll_id: '563'
                      employee_number: '2'
                      public_id: 988618
                      marital_status: M
                      division: A
                      location: FLORIDA
                      org_class: HOURLY
                      business_title: MR
                      original_hire_date: 2006/06/13
                      current_salary_effective_on: 2006/06/13
                      current_salary: '70000.0'
                      subscriber_status_id: 15
                      status_changed_at: '2006/06/1300: 00: 00-0400'
                      status_starts_on: 2006/06/13
                      benefits_start_date: 2006/06/13
                      test_employee: false
                      is_voluntary_termination: false
                      hide_from_payroll: false
                      ssn_exported: false
                      shareholder: false
                      owner: false
                      exclude_from_batch_import: false
                      user_name: jtest_7
                      attempted_logon_count: 0
                      benefit_salaries:
                      - org_plan_year_id: 18791472
                        starts_on: '2019-01-01T00:00:00.000Z'
                        ends_on: '2019-12-31T00:00:00.000Z'
                        benefit_salary: '70000.0'
                        benefit_salary2: '75000.0'
                      - org_plan_year_id: 18791492
                        starts_on: '2020-01-01T00:00:00.000Z'
                        ends_on: '2020-12-31T00:00:00.000Z'
                        benefit_salary: '80000.0'
                        benefit_salary2: '85000.0'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Invalid value for employee_number.  The valid values are '',1,2,3.
                      error_code: 400
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'subscribe' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /subscribers/terminate:
    put:
      tags:
      - Collections
      description: Terminate subscriber resources.
      parameters:
      - name: is_custom_id
        in: query
        description: Set to true if the {id} is customer generated.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_6'
        required: true
      responses:
        '200':
          description: Subscribers terminate response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      links:
                        href: /admin/subscriber/12186626
                        rel: self
                      id: 12186626
                      first_name: John
                      last_name: Test
                      middle_name: M
                      address_1: 1234TestSt.
                      address_2: ''
                      city: Orlando
                      state: FL
                      zip_code: '32801'
                      country: United States
                      home_phone: '4071231234'
                      work_phone: '4071231234'
                      cell_phone: '4071231234'
                      gender: M
                      hire_date: 2006/06/13
                      birthdate: 1990/03/11
                      termination_date: 2018/04/13
                      union_code: HR
                      pay_rate: '40.0'
                      org_payroll_id: '563'
                      employee_number: '2'
                      public_id: 988618
                      marital_status: M
                      division: A
                      location: FLORIDA
                      org_class: HOURLY
                      business_title: MR
                      original_hire_date: 2006/06/13
                      current_salary_effective_on: 2006/06/13
                      current_salary: '70000.0'
                      subscriber_status_id: 15
                      status_changed_at: '2006/06/1300: 00: 00-0400'
                      status_starts_on: 2006/06/13
                      benefits_start_date: 2006/06/13
                      test_employee: false
                      is_voluntary_termination: true
                      hide_from_payroll: false
                      termination_reason_id: 4
                      ssn_exported: false
                      shareholder: false
                      owner: false
                      exclude_from_batch_import: false
                      user_name: jtest_7
                      attempted_logon_count: 0
                      benefit_salaries:
                      - org_plan_year_id: 18791472
                        starts_on: '2019-01-01T00:00:00.000Z'
                        ends_on: '2019-12-31T00:00:00.000Z'
                        benefit_salary: '70000.0'
                        benefit_salary2: '75000.0'
                      - org_plan_year_id: 18791492
                        starts_on: '2020-01-01T00:00:00.000Z'
                        ends_on: '2020-12-31T00:00:00.000Z'
                        benefit_salary: '80000.0'
                        benefit_salary2: '85000.0'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Cannot perform action as the employee is terminated
                      error_code: 400
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'subscribers/terminat' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /subscribers/rehire:
    put:
      tags:
      - Collections
      description: Rehire subscriber resources.
      parameters:
      - name: is_custom_id
        in: query
        description: Set to true if the {id} is customer generated.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_7'
        required: true
      responses:
        '200':
          description: Subscribers rehire response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      links:
                        href: /admin/subscriber/12186626
                        rel: self
                      id: 12186626
                      first_name: John
                      last_name: Test
                      middle_name: M
                      address_1: 1234TestSt.
                      address_2: ''
                      city: Orlando
                      state: FL
                      zip_code: '32801'
                      country: United States
                      home_phone: '4071231234'
                      work_phone: '4071231234'
                      cell_phone: '4071231234'
                      gender: M
                      hire_date: 2018/07/08
                      birthdate: 1990/03/11
                      union_code: HR
                      pay_rate: '40.0'
                      org_payroll_id: '563'
                      employee_number: '2'
                      public_id: 988618
                      marital_status: M
                      division: A
                      location: FLORIDA
                      org_class: HOURLY
                      business_title: MR
                      original_hire_date: 2006/06/13
                      current_salary_effective_on: 2006/06/13
                      current_salary: '70000.0'
                      subscriber_status_id: 15
                      status_changed_at: '2006/06/1300: 00: 00-0400'
                      status_starts_on: 2018/07/08
                      benefits_start_date: 2018/07/08
                      test_employee: false
                      is_voluntary_termination: false
                      hide_from_payroll: false
                      ssn_exported: false
                      shareholder: false
                      owner: false
                      exclude_from_batch_import: false
                      user_name: jtest_7
                      attempted_logon_count: 0
                      benefit_salaries:
                      - org_plan_year_id: 18791472
                        starts_on: '2019-01-01T00:00:00.000Z'
                        ends_on: '2019-12-31T00:00:00.000Z'
                        benefit_salary: '70000.0'
                        benefit_salary2: '75000.0'
                      - org_plan_year_id: 18791492
                        starts_on: '2020-01-01T00:00:00.000Z'
                        ends_on: '2020-12-31T00:00:00.000Z'
                        benefit_salary: '80000.0'
                        benefit_salary2: '85000.0'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Cannot perform action as the employee is not terminated
                      error_code: 400
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'subscribers/rehir' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /dependents:
    get:
      tags:
      - Collections
      description: Retrieve data for all dependents.
      parameters:
      - name: is_custom_id
        in: query
        description: Set to true if the {subscriber_id} is customer generated.
        required: false
        schema:
          type: boolean
          default: false
      - name: subscriber_id
        in: query
        description: Set {subscriber_id} to get all dependents for selected subscriber.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Retrieved data for all dependents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      dependents:
                        links:
                          href: /admin/subscriber/12206082/dependent/2078210
                          rel: self
                        id: 2078210
                        public_id: 2078210
                        ssn: XXX-XX-8782
                        first_name: TestFirst
                        middle_name: TestMiddle
                        last_name: TestLast
                        name_suffix: Mr.
                        hide_dependent_on_termination: false
                        org_relationship_id: 9281
                        termination_reason_id: 7
                        medicare_effective_date: 2010/01/01
                        medicare_plan: PART A
                        medicare_reason: AGE
                        medicare_termination_date: 2009/01/01
                        birthdate: 2007/07/08
                        gender: M
                        relationship_code: child
                        lives_at_home: false
                        address_1: 111 Lane Dr.
                        address_2: Apt. 21
                        city: Orlando
                        state: FL
                        zip_code: '34786'
                        country: United States
                        is_smoker: 'NO'
                        enroll_in_medicare: false
                        verified: true
                        verification_expires_on: 2009/01/01
                        udef_1: custom
                        udef_2: custom
                        udef_3: custom
                        udef_4: custom
                        udef_5: custom
                        udef_6: custom
                        udef_7: custom
                        udef_8: custom
                        udef_9: custom
                        udef_10: custom
                        has_worksite_coverage: false
                      inactive_dependents: []
                      cannot_terminate_dependents: []
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: undefined method `organization' for nil:NilClass
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'dependents/1' not found
                      error_code: route_not_found
  /organizations:
    get:
      tags:
      - Collections
      description: Retrieve all organizations current API User has access to.
      responses:
        '200':
          description: Organizations available for API User response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsModel'
              examples:
                response:
                  value:
                    status: success
                    data:
                      id: 651
                      name: Fake Name Co.
                      organization_code: fake_name_co.
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'organization' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: ''
                      error_code: invalid_field_blank_or_value
                    data: []
  /eoi/subscriber/{subscriber_id}:
    get:
      tags:
      - Collections
      description: Retrieve pending EOI data for a single subscriber.
      parameters:
      - name: subscriber_id
        in: path
        description: The ID of the subscriber.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Coverage(s) pending EOI for a subscriber response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EoiSubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    data:
                      id: 8859138
                      original_effective_date: 2018/01/04
                      change_effective_date: 2018/01/04
                      volume: '100000.0'
                      req_volume: '125000.0'
                      gi_volume: '0.0'
                      first_name: Eli
                      last_name: Test
                      middle_name: M
                      ssn: '232425200'
                      benefit_name: Voluntary Employee Life
                      benefit_lookup_code: subscriber_life
                      plan_name: Voluntary Employee Life
                      coverage_id: 23278082
                      req_plan_name: Voluntary Employee Life
                      eoi_volume: '25000.0'
                      eoi_form: Incomplete
                      links:
                        href: /admin/eoi/subscriber/8859138
                        rel: self
                      dependents:
                        id: 5
                        first_name: Amanda
                        last_name: Base
                        middle_name: J
                        ssn: '232425201'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Employee not found
                      error_code: 404
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /eoi/subscribers:
    get:
      tags:
      - Collections
      description: Retrieve pending EOI data for all subscribers.
      parameters:
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: string
          default: 'no'
          enum:
          - 'yes'
          - 'no'
      responses:
        '200':
          description: Coverage(s) pending EOI for all subscribers response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EoiSubscriberModel'
              examples:
                response:
                  value:
                    status: success
                    data:
                      id: 8859138
                      original_effective_date: 2018/01/04
                      change_effective_date: 2018/01/04
                      volume: '100000.0'
                      req_volume: '125000.0'
                      gi_volume: '0.0'
                      first_name: Eli
                      last_name: Test
                      middle_name: M
                      ssn: '232425200'
                      benefit_name: Voluntary Employee Life
                      benefit_lookup_code: subscriber_life
                      plan_name: Voluntary Employee Life
                      coverage_id: 23278082
                      req_plan_name: Voluntary Employee Life
                      eoi_volume: '25000.0'
                      eoi_form: Incomplete
                      links:
                        href: /admin/eoi/subscriber/8859138
                        rel: self
                      dependents:
                        id: 5
                        first_name: Amanda
                        last_name: Base
                        middle_name: J
                        ssn: '232425201'
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'eoi/subscriber' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /eoi/decision/{subscriber_id}:
    put:
      tags:
      - Collections
      description: Process EOI decisions for a single subscriber.
      parameters:
      - name: subscriber_id
        in: path
        description: The ID of the subscriber.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/Decisions'
      responses:
        '200':
          description: Status response for processing a subscriber's pending EOI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EoiDecisionResponseOK'
              examples:
                response:
                  value:
                    status: success
                    data:
                      valid_count: 0
                      failed_count: 1
                      failed_rows:
                        ssn: '123123123'
                        benefit_lookup_code: subscriber_life
                        action: approve_all
                        approved_volume: '125000.00'
                        effective_date: '2018-03-28T00:00:00.000Z'
                        original_effective_date: ''
                        errors: Benefit not found, Coverage not waiting for EOI decision
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: There was a problem in the JSON you submitted
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'eoi/subscriber' not found
                      error_code: route_not_found
        '422':
          description: Missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 422
                      message: Parameter 'decisions' is required
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /eoi/decisions:
    put:
      tags:
      - Collections
      description: Process EOI decisions for multiple subscribers.
      requestBody:
        $ref: '#/components/requestBodies/Decisions'
      responses:
        '200':
          description: Status response for processing multiple subscriber pending EOIs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EoiDecisionResponseOK'
              examples:
                response:
                  value:
                    status: success
                    data:
                      valid_count: 1
                      failed_count: 1
                      failed_rows:
                        ssn: '123123123'
                        benefit_lookup_code: subscriber_life
                        action: approve_all
                        approved_volume: '125000.00'
                        effective_date: '2018-03-28T00:00:00.000Z'
                        original_effective_date: ''
                        errors: Employee not found
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'eoi/decision' not found
                      error_code: route_not_found
        '422':
          description: Missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 422
                      message: Parameter 'decisions' is required
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /eoi/form_completion/{subscriber_id}:
    put:
      tags:
      - Collections
      description: Process EOI form completions for single subscriber.
      parameters:
      - name: subscriber_id
        in: path
        description: The ID of the subscriber.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/FormCompletions'
      responses:
        '200':
          description: Status response for processing a subscriber's form completion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EoiFormResponseOK'
              examples:
                response:
                  value:
                    status: success
                    data:
                      valid_count: 0
                      failed_count: 1
                      failed_rows:
                        ssn: '123123123'
                        benefits: subscriber_life
                        completed: 'true'
                        expiration_date: ''
                        reference_number: ''
                        errors: Employee not found
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'eoi/form_completion' not found
                      error_code: route_not_found
        '422':
          description: Missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 422
                      message: Parameter 'form_completions' is required
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /eoi/form_completions:
    put:
      tags:
      - Collections
      description: Process EOI form completions for multiple subscribers.
      requestBody:
        $ref: '#/components/requestBodies/FormCompletions'
      responses:
        '200':
          description: Status response for processing multiple subscribers form completions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EoiFormResponseOK'
              examples:
                response:
                  value:
                    status: success
                    data:
                      valid_count: 1
                      failed_count: 1
                      failed_rows:
                        ssn: '123123123'
                        benefits: subscriber_life
                        completed: 'true'
                        expiration_date: ''
                        reference_number: ''
                        errors: Employee not found
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'eoi/form_completion' not found
                      error_code: route_not_found
        '422':
          description: Missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 422
                      message: Parameter 'form_completions' is required
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverages:
    get:
      tags:
      - Collections
      description: Retrieve all coverages.
      parameters:
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: page
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Override the maximum of records returned in a response.
        required: false
        schema:
          type: integer
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: All coverages retrieval response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 21028866
                      org_benefit_id: 4066306
                      coverage_level_id: 139
                      termination_reason_id: 4
                      original_effective_date: 2018/05/29
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      termination_date: 2018/05/28
                      org_plan_id: 6954498
                      subscriber_id: 8854530
                      subscriber_premium: '0.0'
                      org_premium: '0.0'
                      volume: '0.0'
                      org_fsa_amount: '0.0'
                      subscriber_fsa_amount: '0.0'
                      increments: 0
                      billing_premium: '0.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '0.0'
                      req_increments: '0.0'
                      req_subscriber_premium: '0.0'
                      req_org_premium: '0.0'
                      req_billing_premium: '0.0'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      gi_volume: '0.0'
                      gi_increments: '0.0'
                      waiting_for_eoi: false
                      req_imputed_income: '0.0'
                      dp_sub_imputed_income: '0.0'
                      dp_org_imputed_income: '0.0'
                      req_dp_sub_imputed_income: '0.0'
                      req_dp_org_imputed_income: '0.0'
                      election_effective_date: 2018/01/04
                      subscriber_election_amount: '0.0'
                      subscriber_pretax_premium: '0.0'
                      subscriber_posttax_premium: '0.0'
                      signature_date: 2018/05/29
                      req_org_plan_id: 6954498
                      req_coverage_level_id: 139
                      req_dependent_ids: []
                      req_subscriber_election_amount: '0.0'
                      req_subscriber_fsa_amount: '0.0'
                      req_org_fsa_amount: '0.0'
                      gi_dependent_ids: []
                      gi_subscriber_election_amount: '0.0'
                      waiting_for_doc_requests: false
                      bookkeeping_values:
                        cost_org_base_amount: 0
                        cost_org_match_amount: 1162
                        org_annual_base_amount: 0
                        org_annual_match_amount: 1162
                      org_benefit_name: Health Savings Account
                      benefit_lookup_code: hsa
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      coverage_type_name: Employee
                      benefit_class: contribution
                      beneficiary_required: Not Applicable
                      beneficiary_optional_admin: false
                      org_plan_name: Health Savings Account
                      first_name: Eli
                      last_name: Test
                      req_org_plan_name: Health Savings Account
                      req_coverage_level_name: Employee Only
                      survey_data:
                        coverage_id: 21028866
                        survey_benefit_name: Tobacco Survey
                        org_benefit_id: 4066306
                        question_response_data:
                          plan_id: 846850
                          question_text: Do you currently use tobacco products?
                          subscriber_ssn: 111222444
                          question_response:
                            response_text: 'Yes'
                            value: 'Yes'
                          time_answered: 05/29/201816:03:27
                          question_targeted_at: Subscriber
                          carrier_question_type: Actively At Work (Employee)
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverage' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Collections
      description: Update coverages
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CoverageModel'
        required: true
      responses:
        '200':
          description: Update coverages response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverags' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    post:
      tags:
      - Collections
      description: Create coverages
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCoverageModel'
        required: true
      responses:
        '200':
          description: Create coverages response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverags' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverages/terminate:
    put:
      tags:
      - Collections
      description: Terminate coverages
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        $ref: '#/components/requestBodies/TerminateModelArray'
      responses:
        '200':
          description: Teminate coverage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverages/terminat' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
  /coverages/lines:
    get:
      tags:
      - Collections
      description: Retrieve all stacked coverage lines.
      parameters:
      - name: start_date
        in: query
        description: Start date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time date (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of a date range of coverage changes.  ISO 8601 date or RFC 3339 date time (ex. 2017-12-01 or 2017-12-01T12:30:30-06:00).
        required: false
        schema:
          type: string
          format: date
      - name: plan_year
        in: query
        description: Plan year.
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: page
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Override the maximum of records returned in a response.
        required: false
        schema:
          type: integer
      - name: include_test
        in: query
        description: Include test employees.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: All stacked coverage lines response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLineModel'
              examples:
                response:
                  value:
                    status: success
                    errors: []
                    data:
                      id: 3586
                      coverage_id: 20551170
                      original_effective_date: 2018/01/04
                      change_effective_date: 2018/01/04
                      payment_change_effective_date: 2018/01/04
                      subscriber_premium: '3.82'
                      org_premium: '0.0'
                      volume: '125000.0'
                      increments: 5
                      billing_premium: '7.0'
                      billing_fee: '0.0'
                      billing_fee2: '0.0'
                      imputed_income: '0.0'
                      req_volume: '150000.0'
                      req_increments: '6.0'
                      req_subscriber_premium: '4.58'
                      req_org_premium: '0.0'
                      req_billing_premium: '8.4'
                      req_billing_fee: '0.0'
                      req_billing_fee2: '0.0'
                      org_benefit_id: 8619
                      org_benefit_name: Voluntary Employee Life
                      benefit_lookup_code: subscriber_life
                      coverage_level_id: 310
                      coverage_level_name: Employee Only
                      plan_year_starts_on: 2018/01/04
                      plan_year_ends_on: 2019/01/03
                      org_plan_id: 22423
                      org_plan_name: Voluntary Employee Life
                      subscriber_id: 8854530
                      first_name: Tommy
                      last_name: Test
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverages/line' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    put:
      tags:
      - Collections
      description: Update stacked coverage lines
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CoverageLineModel'
        required: true
      responses:
        '200':
          description: Update coverage lines response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLinesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 401
                      message: Signature has expired
                      error_code: invalid_token
                    data: []
        '403':
          description: Access error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 403
                      message: Forbidden
                    data: []
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 404
                      message: Requested route 'coverages/lines' not found
                      error_code: route_not_found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoLinks500Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 500
                      message: Internal error
                    data: []
    post:
      tags:
      - Collections
      description: Create stacked coverage lines
      parameters:
      - name: plan_year
        in: query
        description: Plan year
        required: false
        schema:
          type: string
          enum:
          - previous
          - current
          - next
      - name: recalculate
        in: query
        description: Perform a recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: validate_volume
        in: query
        description: Perform the validation of the coverage
        required: false
        schema:
          type: boolean
      - name: recalculate_volume
        in: query
        description: Perform a volume recalculate of the coverage
        required: false
        schema:
          type: boolean
      - name: set_original_effective_date
        in: query
        description: Allow the setting of the original effective date
        required: false
        schema:
          type: string
          format: date
      - name: set_change_effective_date
        in: query
        description: Allow the setting of the change effective date
        required: false
        schema:
          type: string
          format: date
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCoverageLineModel'
        required: true
      responses:
        '200':
          description: Create coverage lines response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageLinesResponseOK'
              examples:
                response: {}
        '400':
          description: Malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
              examples:
                response:
                  value:
                    status: failure
                    errors:
                      http_status: 400
                      message: Not enough or too many segments
                    data: []
        '401':
          description: Invalid token.
          content:
            application/json:
              schema:
[...]
